@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');

.header{
  width: 100%;
  height: 57.5px;
  border-bottom: 1px solid var(--secondary-color);
  display: flex;
}

.header-name-box{
  flex: 1;
  max-width: 200px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.header .logo-name{
  
  font-family: "Iceland", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--t-color);
}
.header-page-name-box{
  flex: 1;
}

.header-notification-bar{
  flex: 1;
  max-width: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}
.header .notification-icon{
  height: 38px;
  width: 38px;
  border: 1px solid var(--secondary-color);
  border-radius: 500rem;
  display: flex;
  justify-content: center;
  align-items: center;
}