

.header{
  background-color: #0F172A;
  border-bottom: 1px solid #1E293B;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: coloumn;
  justify-content: space-between;
}
.header .logo{
  flex: 2;
  max-width: 300px;
}
.header .logo img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.header .heading{
  display: flex;
  padding-left: 50px;
  align-items: center;
  flex: 3;
  font-family: "Ubuntu Sans Mono", monospace;
  color: #4AF626;
  font-size: 24px;
  letter-spacing: 10px;
}
.header .profile {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100px;
  flex: 1;
}
.header .profile .profile-image{
  height: 50%;
  width: 50%;
  background-color: #0F172A;
  border: 2px solid #1E293B;
  border-radius: 100rem;
}


@media screen and (max-width: 480px) {
  .header{
    height: 65px;
  }
  .header .heading{
    font-size: 18px;
  }
}

@media screen and (max-width: 550px) and (min-width: 40px) {
  
  .header .heading {
    font-size: 20px;
    padding: 10px;
  }

  .header .profile .profile-image{
    height: 25px;
    width: 25px;
   
  }
  
}


@media screen and (max-width: 650px) and (min-width: 550px){
  .header .profile .profile-image{
    height: 45px;
    width: 45px;
   
  }
}
