.sidebar {
  bottom: 0;
  top: 0;
  position: fixed;
  width: 70px;
  background-color: var(--primary-color);
  border-right: 1px solid var(--secondary-color);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  z-index: 1000;
}

.sidebar .sidebar-icon {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar .temp-icon {
  height: 25px;
  width: 25px;
  background: #1a2a6c;
  background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);
  background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);
  border-radius: 6px;
  transform: rotate(45deg);
}

.sidebar .sidebar-action-buttons{
  flex: 1;
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}


.sidebar .sidebar-action-button{
  height: 40px;
  border-radius: 4.5px;
  width: 40px;
  transition: 0.15s;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.sidebar .sidebar-action-button-active{
  background-color: var(--secondary-color);
}
.sidebar-action-button:first-child{
  margin-top: 100px;

}

.sidebar .sidebar-action-button:hover{
  transform: scale(0.85);
}

.sidebar .sidebar-action-button-active:hover{
  transform: scale(1);
}


.sidebar .sidebar-bottom-logout{
  height: 140px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.sidebar-bottom-profile-icon{
  height: 45px;
  width: 45px;
  border: 1px solid;
  border-color: var(--secondary-color);
  border-radius: 500rem;
}

.sidebar-bottom-logout-button{
  height: 35px;
  width: 35px;
  border-radius: 4px;
  border: 1px solid;
  outline: none;
  border-color: var(--secondary-color);
  background-color: transparent;

}



/* Hide Link arrow/pseudo-element */
.no-icon-link::after,
.no-icon-link::before {
  display: none !important;
}

/* Or target React Router Link specifically */
a[role="link"]::after,
.router-link::after {
  content: none !important;
}

/* Global Link icon removal */
.Link, 
a[href] {
  text-decoration: none;
}

.Link::after {
  display: none;
}