.query-section{
  margin-top: 25px;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.query-section .query-input{
  flex: 1;
  max-width: 600px;
  font-family: ubuntu;
  color: #4AF626;
  background-color: #020617;
  padding: 15px 10px;
  outline: none;
  border: 1px solid ;
	border-image: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red) 1;
	font-size: 20px;
  font-family: "Ubuntu Sans Mono", monospace;
	animation: 20s rotate linear infinite;
  letter-spacing: 1.5px;
  

}
.query-section .query-input::placeholder{
  color: #94A3B8;
  font-family: "Ubuntu Sans Mono", monospace;
  letter-spacing: 1.5px;
}
@keyframes rotate {
	to {
		--angle: 360deg;
	}
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}



@media screen and (max-width: 700px) {
  
.query-section .query-input{
  flex: 1;
  max-width: 300px;

}

}

