:root{
  --primary-backround-color: #020617;
  --primary-card-background-color: #0F172A;
  --card-border-color: #1E293B;

}

.body{
  height: 100vh;
  width: 100%;
  background-color: var(--primary-backround-color);
}