:root{
  --primary-backround-color: #020617;
  --primary-card-background-color: #0F172A;
  --card-border-color: #1E293B;

}

.body{
  height: 100vh;
  width: 100%;
  background-color: var(--primary-backround-color);
}

.body .save-content-area{
  display: flex;
  justify-content: center;
  width: 100%;

  /* background-color: white; */

  height: 400px;
  color: #0F172A;
}
.body .save-content-box{
  flex: 1;
  height: 100%;
  background-color: #0F172A;
  border-radius: 6px;
  max-width: 600px;
  padding: 0px 10px;
}

@media screen and (max-width: 700px) {
  
.body .save-content-box{
  flex: 1;
  max-width: 300px;
}

}