.toggle-section{
  width: 100%;
  height: 100px;
  /* background-color: white; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-section .toggle-box{
  display: flex;
  height: 50px;
  width: 300px;
  background-color: #0F172A;
  border-radius: 100px;
}
.toggle-section .toggle-item{
  width: 50%;
  border-radius: 100rem;
  display: flex;
  font-family: "Ubuntu Sans Mono", monospace;
  color: #1b3f14;
  letter-spacing: 2px;
  transition: 0.05s step-end;
  justify-content: center;
  align-items: center;
}
.toggle-item.selected-item{
  
  color: #4AF626;
  background-color: #2563EB;
}
